.simple-header {
  color: $color-white;
  text-align: center;
  padding: 80px;
  position: relative;

  &::before {
    background: url("/images/gitlab-icon-pattern-header.svg") center center no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .1;
  }

  &::after {
    background-image: linear-gradient(to right, $purple-section-gradient-from, $purple-section-gradient-to 100%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
  }

  .header-container-content {
    padding: 0;
  }
}
